
.App {
    background-image: url("mcdu-r2-c.png");
    background-size: contain;
    background-repeat: no-repeat;
    --app-height: calc(min(100vh, 155.513666vw) - calc(min(100vw, 64.3vh) * .12));
    height: var(--app-height);
    padding-top: calc(min(100vw, 64.3vh) * .12);
    margin-left: auto;
    margin-right: auto;
    --app-width: min(100vw, 64.3vh);
    width: var(--app-width);
    position: relative;
}
